# --- Python Internals (Junk files) ---
__pycache__/
*.pyc

# --- Security  ---
.env
.DS_Store

# --- Virtual Environment ---
.venv/
venv/
env/

# --- IDE Settings (Optional) ---
.vscode/.env

# LaTeX build artefacts
*.aux
*.log
*.toc
*.out
*.nav
*.snm
*.synctex.gz
*.fls
*.fdb_latexmk
*.bbl
*.blg
